<% @completed.each do |complete| %> 
    <%= bootstrap_form_for [current_user, complete] do |f| %>
        <div class="col-md-6 col-md-offset-2">
            <%= complete.item.capitalize %> by 
            <%= link_to complete.user.name.capitalize, user_path(complete.user) %> 
        </div> 
        <div class="col-md-3">
            <%= link_to "Edit my task", edit_task_path(id: complete.id, method: :get) %> 
            <%= link_to image_tag(complete.user.avatar(:medium)), user_path(complete.user) %> 
            <%= f.hidden_field :completed, value: false %> 
            <%= f.submit 'mark as uncompleted', class: "btn btn-success" %>
        </div>
    <% end %> 
<% end %> 
