<div id = "search_form">
  <%= form_tag @task, url: tasks_path, method: :get do %>
    <%= text_field_tag :search, params[:search], id: 'search_field' %>
    <%= submit_tag "Search", :name => nil,class: "btn btn-info" %> 
    <%= link_to "Clear", tasks_path %>
 <% end %> 
</div>

<div class="container">
  <% if current_user %> 
    <%= bootstrap_form_for @task do |f| %> 
      <%= f.text_field :item, placeholder: "Enter an item you want to add" %> 
      <div class='text-center'>
        <%= f.submit %>
      </div>
    <% end %>  
  <% else %> 
    <%= render partial: "sessions/form" %> 
  <% end %> 
</div>
<div id="inline-task">
  <%= render partial: "inline_tasks", object: @my_tasks %>   
</div>

